.container {
  --column-count: 1 height: 100vh;

  padding: 50px 40px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 200px);
  justify-content: center;
  gap: 43px 48px;
}

@media (min-width: 488px) {
  .container {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .container {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .container {
    --column-count: 4;
  }
}
